<h2>What's the next unicorn?</h2>
<form action="/post/create" method="post">
  <input type="text" name="idea" required />
  <textarea id="description" name="description" rows="4" cols="50"></textarea>
  <div>
    <label for="industry">Choose an Industry:</label>
    <select id="industry" name="industry">
      <option value="fintech">Fintech</option>
      <option value="healthtech">Healthtech</option>
      <option value="edutech">Edutech</option>
      <option value="ecommerce">Ecommerce</option>
      <option value="web3">Web3</option>
    </select>
  </div>
  <button type="submit">submit</button>
</form>